@import './styles/fonts.css';
@import './styles/global.css';

@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #C89B3C;
  --color-primary-foreground: #FFFFFF;
  --color-secondary: #0B3D2E;
  --color-secondary-foreground: #FFFFFF;
  --color-background: #FAF8F3;
  --color-dark-background: #072A20;
  --color-light-gold: #E2C16B;
  --color-white: #FFFFFF;
  --color-destructive: #ff0000;
  --color-destructive-foreground: #FFFFFF;
  --color-foreground: #222222;
  --color-emerald-green: #0f6b50ff;
  --color-head: #4b9680ff;

  /* Font families */
  --font-heading: 'Cormorant Garamond', serif;
  --font-paragraph: 'Nunito Sans', sans-serif;

  /* Breakpoints */
  --breakpoint-2xl: 1920px;
  --breakpoint-3xl: 2560px;
  --breakpoint-4k: 3840px;
}